<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="container">
    <div class="col-md-4">
      <h2>Proyecto 1</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta sequi doloribus, exercitationem quos quasi nobis, officia dolorem dolores, fugit veritatis animi ipsam in ad corrupti architecto atque vitae tempore modi.</p>
      <img src="../../../assets/proyecto1.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="container mt-4">
    <div class="col-md-4">
      <h2>Proyecto 2</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta sequi doloribus, exercitationem quos quasi nobis, officia dolorem dolores, fugit veritatis animi ipsam in ad corrupti architecto atque vitae tempore modi.</p>
      <img src="../../../assets/proyecto1.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>