<div class="row">
  <h1>Skills</h1>
  <div class="circles">
    <circle-progress
    [title]="'HTML'"
    [percent]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [radius]="90"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    />
    <circle-progress
    [title]="'CSS'"
    [percent]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [radius]="90"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    />
    <circle-progress
    [title]="'JS'"
    [percent]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [radius]="90"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    />
    <circle-progress
    [title]="'PYTHON'"
    [percent]="75"
    [showUnits]="false"
    [showSubtitle]="false"
    [radius]="90"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    />
    <circle-progress
    [title]="'REACT'"
    [percent]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [radius]="90"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    />
    <circle-progress
    [title]="'ANGULAR'"
    [percent]="55"
    [showUnits]="false"
    [showSubtitle]="false"
    [radius]="90"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    />
  </div>
</div>
