<div class="body-container">
  <app-login-header></app-login-header>
  <div class="form-container">
    <div class="container">
      <h3 class="mb-3 mt-3">Iniciar Sesión</h3>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required/>
          <label class="form-label" for="nombreUsuario">Nombre de Usuario</label>
        </div>
       
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required/>
          <label class="form-label" for="password">Contraseña</label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="d-flex justify-content-between w-100 mb-4">
          <div class="d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Recuérdame </label>
            </div>
          </div>
        </div>
        
        <!-- Submit button -->
  
        <div class="btn-container">
          <button type="submit" class="btn btn-primary btn-block mb-1 w-100">Ingresar</button>
          <button type="submit" class="btn btn-outline-danger btn-block mb-4 w-100" (click)="atras()">Atrás</button>
        </div>
          
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>No tenés cuenta? <a href="#!">Regístrate</a></p>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>  
    </div>
  </div>
  <app-footer></app-footer>
</div>