<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-md-10">
    <ul>
      <li>
        <h2>Trabajo 1  -  </h2><h3>(Años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta eaque aperiam corrupti quos fuga? Nam praesentium quae nostrum aspernatur placeat mollitia fugit iusto ipsum rerum quibusdam, tenetur, atque doloremque!</p>
      </li>
    </ul>
    <ul>
      <li>
        <h2>Trabajo 2  -  </h2><h3>(Años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta eaque aperiam corrupti quos fuga? Nam praesentium quae nostrum aspernatur placeat mollitia fugit iusto ipsum rerum quibusdam, tenetur, atque doloremque!</p>
      </li>
    </ul>
    <ul>
      <li>
        <h2>Trabajo 3  -  </h2><h3>(Años)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta eaque aperiam corrupti quos fuga? Nam praesentium quae nostrum aspernatur placeat mollitia fugit iusto ipsum rerum quibusdam, tenetur, atque doloremque!</p>
      </li>
    </ul>
  </div>
</div>