<div class="logo">
  <a href="/"><img src="../../../assets/APLogo.png" alt="argentina-programa"></a>
  <div class="redes ">
    <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/facebook.png" alt="fb-logo"></a>
    <a href="https://www.instagram.com" target="_blank"><img src="../../../assets/instagram.png" alt="ig-logo"></a>
    <a href="https://www.github.com" target="_blank"><img src="../../../assets/github.png" alt="gh-logo"></a>
    <a href="https://www.linkedin.com" target="_blank"><img src="../../../assets/linkedin.png" alt="li-logo"></a>
    <button class="btn btn-primary" (click)="login()" *ngIf="!isLoged">Ingresar</button>
    <button class="btn btn-danger" (click)="onLogOut()" *ngIf="isLoged">Cerrar Sesion</button>
  </div>
</div>